.header-banner{
    border-bottom: 1px solid #ddd;
    height: 90px;
    position: relative;
    top: 0px;
    width: 100%;
    background-image: url('../../img/ESUS_Banner.png');
    background-size: cover;
    z-index: 2;
  }
  .banner_logo{ 
    width: 350px;
    padding: 10px 15px; 
  }
  .banner_title{
    width: 400px;
  }
  .navbar{
      padding: 0;
      font-size: 1.5em !important;
  }
  .horizon_menu{
    width: 100%;
    background-color: whitesmoke;
    color: rgb(93,93,93);
    text-transform: uppercase;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.211238);
    z-index: 1;
    position: relative;
  }
  .horizon_menu a{
    text-decoration: none;
    background-color: whitesmoke;
    color: rgb(93,93,93);
  }
  .navbar-brand{
    text-decoration: none;
    background-color: whitesmoke;
    color: rgb(93,93,93);
    padding-left: 5px;
    padding-right: 5px;
  }
  .navbar-text{
      padding-left: 20px;
      padding-right: 20px;
  }
  .mobile{
    display: none;
  }

  @media (max-width: 1100px) { 
    .mobile{
        display: block;
    }
    .horizon_menu{
      display: none;
    }
}